article {
    margin:0;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 60%;
}

h1 {
    font-size: 4em;
}

h2 {
    text-align: center;
}

.our-story-text {
    text-align: center;
}

header {
    text-align: center;
    padding: 5rem 0 3.5rem 0;
}

header > * {
    margin: 0
}

#header-hero {
    font-size: 3em;
}

#header-subtext {
    font-size: 1.5em;
}

.nav-main {
    align-items: center;
    display: flex;
    font-size: 1.15em;
}

.nav-main div {
    flex: 1;
    margin-right: 2em;
    text-align: center;
}

.nav-main ul {
    flex: 1;
    text-align: center;
}

.nav-main li {
    display: inline;
    padding: 0 1em;
}
